Repository zmxv/react-native-sound, pull requests merged in 2019-07, with the labels that each got.

#569 Fix getSystemVolume on Android for parity with iOS: (volume) instead of (NULL, volume)
  android/src/main/java/com/zmxv/RNSound/RNSoundModule.java
Labels: android, bug, pending-verification

#401 fix react-native-windows path definition
  windows/RNSoundModule/RNSoundModule/RNSound.cs
  windows/RNSoundModule/RNSoundModule/RNSoundModule.csproj
  windows/RNSoundModule/RNSoundModule/project.json
Labels: windows

#600 Add issue templates
  .github/ISSUE_TEMPLATE/1_Get_help.md
  .github/ISSUE_TEMPLATE/2_Bug_report.md
  .github/ISSUE_TEMPLATE/3_Feature_request.md
Labels: project
